@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

.App {
  font-family: 'Karla', sans-serif;
}

/* General */
.block {
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.align-center {
  display: block;
  margin: 0 auto;
}

p,
h2 {
  color: #575858;
}

.no-margin {
  margin: 0 !important;
}

.clear-both {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #eceef4;
}

.wrapper {
  background-color: #fff;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
}

.box {
  padding: 20px;

}

.box-center {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

ul.infoList {
  list-style: none;
  padding: 0;
}

button {
  padding: 10px;
  border: 2px solid #c9d0e1;
  background-color: #fbfbfb;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  color: #a5abc5;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

button:hover {
  background-color: #5fcac6;
  color: #fff;
  border-color: #54b3af;
  cursor: pointer;
}

button.button-small {
  padding: 5px;
  font-size: 10px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Text */
.h2,
h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 2px solid #c9d0e1;
  padding-bottom: 5px;
  width: fit-content;
  color: #6e768f;
}

.info {
  text-transform: uppercase;
  color: #6e7690;
  font-weight: 800;
  margin: 20px;
  border-bottom: 1px solid #e1e2e8;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

a {
  color: #5fcac6;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #f9f9f9;
  height: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
  padding-top: 10px;
}



li.nav-item {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

/* Input */
input,
select,
textarea {
  border: 2px solid #c9d0e1 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  height: auto !important;
  font-family: 'Karla', sans-serif !important;
}

.input {
  border: 2px solid #c9d0e1 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  height: auto !important;
  font-family: 'Karla', sans-serif !important;
}

.input-label {
  text-transform: uppercase;
  color: #6e7690;
  font-weight: 800;
  margin: 0;
  margin-top: 10px;
}

input.is-invalid,
select.is-invalid {
  border-color: #ca5f60 !important;
}

textarea {
  border: 2px solid #c9d0e1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.boxcheck {
  padding: 10px;
  background-color: #efefef;
  margin: 10px;
  border-radius: 5px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
  text-align: center;
}

.boxcheck:hover {
  border: 4px solid #c9d0e1;
}

#checklist {
  background-image: url("./img/browser.png")
}

input.input-add {
  width: 85%;
  float: left;
}

button.button-add {
  width: 9%;
  float: right;
}

span.single-part svg {
  margin-left: 7px;
  font-size: 13px;
  color: #5fcac9;
  cursor: pointer;
}

/* Multiselect mods */
.kn-multi_select__wrapper___30BEc {
  border: 2px solid #c9d0e1 !important;
  border-radius: 5px !important;
}

.jss4.jss2 {
  color: #5fcac9 !important;
}

.kn-selection_status__clear_all___3gppf {
  color: #5fcac9 !important;
}

/* Create new suit */
.suite-icon {
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/* Loading */

.loader {
  display: block;
  margin: 0 auto;
  width: 50px;
}

/* Autosuggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 2px solid #c9d0e1;
  background-color: #eceef4;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  font-family: 'Karla', sans-serif;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}


.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.custom-modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  margin: 0 auto;
  padding: 10px;

}

/* Datepicker */
.react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 50%;
  background-color: #5fcac9;
  color: #fff;
}

.react-datepicker__month-container {
  float: left;
  font-family: 'Karla', sans-serif;
}

/* Checklist */

.input-control {
  width: 40px !important;
  text-align: center;
  margin: 0;
  float: left;
  margin-right: 10px;
  height: 40px !important;
}

.input-remark {
  width: 200px !important;
  text-align: left;
  margin: 0;
  float: left;
  height: 40px !important;
  margin-bottom: 25px;
}

.checkbox-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.task-title {
  margin-top: 22px;
}

.task-select {
  padding: 11.3px !important;
}

/* Skecth */

#sketch-container>div {
  margin: 0 auto;
}

/* Label */
.label-area svg {
  margin: 0 auto;
  display: block;
}

img.label-logo {
  width: 45px;
  position: absolute;
}

.label-bottom {
  position: relative;
  bottom: -17px;
}

.float-right-label {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.float-left-label {
  float: left;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.label-title {
  font-weight: 900;
  font-size: 17px;
}

.label-vessel {
  font-size: 29px;
  color: #f00;
}

/* React Bootstrap Typeahead */
input.rbt-input-hint {
  margin: 0 !important;
  border: unset !important;
}

/* React Bootstrap Table 2 */
input.filter {
  padding: .375rem !important;
}

.react-bootstrap-table tr:hover {
  cursor: pointer;
}

/* Print options */
.print {
  width: 10.16cm;
  height: 6.34cm;
  display: block;
  margin: 0 auto;

  padding: 8px;

}

.print-checkout {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 8px;

}

.print p {
  color: #000000 !important;
}

@media print {
  @page {
    size: 6.34cm 10.16cm;
  }

  body,
  html {
    visibility: hidden;
  }

  .print {
    visibility: visible !important;
    overflow: hidden;
  }

  .print-checkout {
    position: absolute;
    visibility: visible !important;
    top: 0;
    left: 0;
    right: 0;
  }

  .service-print {
    position: absolute;
    visibility: visible !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

/*Warning Notifcation*/
.warning-container {
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;

}

.warning-container h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.warning-container p {
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}

.close-warning {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/* Table */
.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;

  /* text-align: center; */
}

.react-bootstrap-table {
  margin-top: 10px;
}

/* Multi select */
.kn-column__column___3Iwzx {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-right: 1px solid #dddddd;
}

.kn-column__column___3Iwzx:last-of-type {
  border: 0;
}

.kn-list__list___22Wuc {
  outline: none;
  user-select: none;
}

.kn-list__list_item___1mDV9 {
  display: flex;
  flex-direction: column;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar,
.kn-list__list___22Wuc::-webkit-scrollbar {
  width: 15px;
  height: 17px;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-thumb,
.kn-list__list___22Wuc::-webkit-scrollbar-thumb {
  background: #CDCDCD;
  border-color: transparent;
  border-style: solid;
  background-clip: content-box;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-thumb:vertical,
.kn-list__list___22Wuc::-webkit-scrollbar-thumb:vertical {
  min-height: 45px;
  border-width: 4px 4px 4px 5px;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-thumb:horizontal,
.kn-list__list___22Wuc::-webkit-scrollbar-thumb:horizontal {
  min-width: 45px;
  border-width: 5px 4px 6px;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-track,
.kn-list__list___22Wuc::-webkit-scrollbar-track {
  background: #ffffff;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-track:vertical,
.kn-list__list___22Wuc::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #EDEDED;
  border-right: none;
}

.kn-list__scrollbar___1a9W-::-webkit-scrollbar-track:horizontal,
.kn-list__list___22Wuc::-webkit-scrollbar-track:horizontal,
.kn-list__scrollbar___1a9W-::-webkit-scrollbar-corner,
.kn-list__list___22Wuc::-webkit-scrollbar-corner {
  border-top: 1px solid #EDEDED;
  border-bottom: none;
}

.kn-item_label__label___2fJ5p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 14px;
  white-space: nowrap;
}

.kn-item__item___kQ2Ll {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.kn-item__item___kQ2Ll .kn-item__selected___3tRL6 {
  background-color: #f7f7f7;
}

.kn-item__item___kQ2Ll:hover:not(.kn-item__selected___3tRL6, .kn-item__disabled___3xX7z) {
  background-color: #f3f3f3;
}

.kn-item__disabled___3xX7z {
  color: #b4b4b4;
  cursor: default;
}

.kn-item__selected___3tRL6 {
  background-color: #f7f7f7;
}

.kn-item__with_border___3n9sw {
  border-bottom: 1px solid #dddddd;
}

.kn-no_items__no_items___3ON4R {
  font-size: 14px;
  color: #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.kn-search__search___3Zpb2 {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 0;
  border-bottom: 1px solid #dddddd;
}

.kn-search__input___2tyxf {
  height: 45px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  flex: 1;
  outline: none;
  border: 0;
  font-size: 14px;
  background: transparent;
}

.kn-search__icon___1frx4 {
  font-size: 24px;
}

.kn-search__list_filter_container___2FaR9 {
  margin-bottom: 10px;
  position: relative;
}

.kn-selected_item__selected_item___1uiiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 12px;
  margin-right: -4px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.kn-selected_item__selected_item___1uiiv:hover {
  background-color: #f3f3f3;
}

.kn-selection_status__selection_status___1FzyX {
  height: 45px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  justify-content: space-between;
}

.kn-selection_status__status___1qxE9 {
  color: #000000;
}

.kn-selection_status__clear_all___3gppf {
  cursor: pointer;
  color: #008BBF;
}

.kn-multi_select__wrapper___30BEc {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #666666;
  overflow: hidden;
}

.kn-loader__loader___1LPsU {
  margin: auto auto;
}

/* Bulk checkout vests */
p.rowP {
  float: left;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 12px;

}

p.link {
  color: #5fcad0;
  cursor: pointer;
}

.rowTitle {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0;
}

table.rotate-table-grid {
  box-sizing: border-box;
  border-collapse: collapse;
}

.rotate-table-grid thead tr,
.rotate-table-grid th {
  position: relative;
  height: 200px;
  border: 1px solid #dee2e6;
}

.rotate-table-grid th span {
  transform-origin: 0 50%;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.bulk-table tbody tr td {
  border: 1px solid #dee2e6;
  text-align: center;
}
.bulk-table thead {
  border: 1px solid #dee2e6;
  text-align: center;
}
@media print {
  .no-print {
    display: none
  }

}